/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* SVG.js Comment */
.hljs-comment,
.hljs-quote {
  color: #8e908c;
}

/* SVG.js Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #c82829;
}

/* SVG.js Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #ED6E55;
}

/* SVG.js Yellow */
.hljs-attribute {
  color: #eab700;
}

/* SVG.js Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #2AAB51;
}

/* SVG.js Blue */
.hljs-title,
.hljs-section {
  color: #4271ae;
}

/* SVG.js Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #e38800;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
