.sidebar-nav {
  .sidebar-nav-sub {
    padding-left: 1em;
    font-size: 12px;
  }

  .expand-subnav {
    outline: none;
  }
}

header {
  padding: 1em 0;

  img {
    width: 4em;
    margin-right: 0.5em;
  }

  h1.site-title {
    position: relative;
    top: -0.8em;
  }
}

h2 {
  font-weight: bold;

  em {
    font-weight: normal;
    font-size: 0.85em;
  }
}

p > code,
li > code,
div > code {
  color: $dark_svgjs;
  background-color: #f2f2f2;
  padding: 0 0.25em;
}

.sidebar-nav {
  margin-bottom: 5em;
}

.search-form {
  input {
    background-color: transparent;
    outline: none;
    border: none;
  }
  input[type=search] {
    border-bottom: 1px solid #b2b2b2;
    font-size: 1.5em;
    padding-top: 0;
  }
  input[type=submit] {
    color: black;
    font-size: 2em;
    -webkit-transform: rotate( 45deg );
    -ms-transform: rotate( 45deg );
    transform: rotate( 45deg );
    cursor: pointer;
    padding: 0;
    margin-top: -10px;
    
  }
}

.fork-me-on-github {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.docs-svgjs {
  a,
  a:link,
  a:visited {
    color: $svgjs;
  }

  a:hover {
    color: transparentize($svgjs, 0.5);
  }

  a.skip-link {
    color: $svgjs;
  }

  a.skip-link:hover,
  a.skip-link:active,
  a.skip-link:focus {
    background-color: $svgjs;
  }

  .sidebar-nav .sidebar-nav-active {
    border-left-color: $svgjs;
  }

  header {
    border-bottom-color: $svgjs;
  }

  .sidebar-nav .sidebar-nav-active {
    border-left-color: $svgjs;
  }
  .sidebar-nav li:hover,
  .sidebar-nav li:active,
  .sidebar-nav .sidebar-nav-active {
    border-left-color: transparentize($svgjs, 0.8);
    li:hover,
    li.sidebar-nav-active {
      border-left-color: transparentize($svgjs, 0.5);
    }
  }

  .expand-subnav {
    color: $svgjs;
  }

  .expand-subnav:hover {
    background-color: $svgjs;
  }

  p > code,
  li > code,
  div > code {
    color: $dark_svgjs;
  }

  .search-form {
    input[type=submit] {
      color: $svgjs;
    }
    input[type=search] {
      border-bottom-color: $light_svgjs;
    }
  }
}

aside {
  .results {
    display: none;
  }

  &.searched {
    .results {
      display: block;
    }
  }
}

.search {
  position: relative;
  margin-bottom: 1em;

  input {
    width: 100%;
    outline: none;
    padding: 5px; 
  }

  .results {
    background-color: white;
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
    z-index: 300;
  }

  .result {
    padding: 5px;

    &:hover, &.selected {
      background-color: #e5e5e5;
    }
    
    a {
      display: block;
      outline: none;
    }
  }
}

.fork-me-on-github {
  transform: scale(0.75);
  transform-origin: top right;
}

@media screen and ( max-width: 480px ) {
  .fork-me-on-github {
    transform: scale(0.5);
    transform-origin: top right;
  }
}


